{{#if devoured}}
<li>
    <h5> {{ burger_name }} <button type="button" class="redo-burger btn btn-outline-warning" data-id="{{id}}" data-name="{{burger_name}}">
        <i class="fas fa-redo-alt"></i>
    </button>
    </h5>
</li>


{{else}}
<li>
    <button type="btn" class="change-devoured btn btn-warning" data-id="{{id}}" data-name="{{burger_name}}"> {{ burger_name }} 
        <i class="fas fa-utensils"></i>
    </button>
</li>
<br>

{{/if}}